In [4]:
pip install pandas pyreadstat

Requirement already satisfied: pandas in c:\users\carl\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: pyreadstat in c:\users\carl\anaconda3\lib\site-packages (1.2.7)
Requirement already satisfied: numpy>=1.26.0 in c:\users\carl\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\carl\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\carl\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\carl\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\carl\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

file_path = r"C:\Users\carl\Desktop\Git\Project_2\group3-project2-ml\Data\WRLURI_01_15_2020.dta"

# Load the .dta file into a pandas DataFrame
data = pd.read_stata(file_path)

# Save the DataFrame as a CSV file
csv_file_path = r"C:\Users\carl\Desktop\Git\Project_2\group3-project2-ml\Data\WRLURI_01_15_2020.csv"
data.to_csv(csv_file_path, index=False)

# Print the first 5 rows of the DataFrame
print(data.head(15))

          id       GEOID  statecode statecode_str state  countycode18  \
0   101260.0  2501365825       25.0            25    MA          13.0
1   101403.0  2502701885       25.0            25    MA          27.0
2   101641.0  2501702130       25.0            25    MA          17.0
3   101658.0  2502706365       25.0            25    MA          27.0
4   101725.0  2501768050       25.0            25    MA          17.0
5   101924.0  2500943580       25.0            25    MA           9.0
6   102072.0  2500538225       25.0            25    MA           5.0
7   102114.0  2502350145       25.0            25    MA          23.0
8   102137.0  2502167945       25.0            25    MA          21.0
9   102661.0  2502327795       25.0            25    MA          23.0
10  102787.0  2500129020       25.0            25    MA           1.0
11  103030.0  4400925300       44.0            44    RI           9.0
12  103111.0  4400557880       44.0            44    RI           5.0
13  103303.0  3301524660       33.0            33    NH          15.0
14  103345.0  3301148020       33.0            33    NH          11.0

           countyname18  fipsplacecode18 communityname18  metro18  ...  \
0        Hampden County            65825       Southwick      1.0  ...
1      Worcester County             1885      Ashburnham      1.0  ...
2      Middlesex County             2130         Ashland      1.0  ...
3      Worcester County             6365          Bolton      1.0  ...
4      Middlesex County            68050            Stow      1.0  ...
5          Essex County            43580          Nahant      1.0  ...
6        Bristol County            38225       Mansfield      1.0  ...
7       Plymouth County            50145         Norwell      1.0  ...
8        Norfolk County            67945       Stoughton      1.0  ...
9       Plymouth County            27795         Halifax      1.0  ...
10    Barnstable County            29020         Harwich      1.0  ...
11    Washington County            25300          Exeter      1.0  ...
12       Newport County            57880      Portsmouth      1.0  ...
13    Rockingham County            24660          Epping      1.0  ...
14  Hillsborough County            48020         Milford      1.0  ...

    alloc_q8e18 alloc_q8f18  alloc_q9a18  alloc_q9b18  alloc_q9c18  \
0           0.0         0.0          0.0          0.0          0.0
1           1.0         1.0          0.0          0.0          0.0
2           0.0         0.0          0.0          0.0          1.0
3           1.0         1.0          0.0          0.0          0.0
4           0.0         0.0          0.0          0.0          0.0
5           0.0         0.0          1.0          0.0          1.0
6           0.0         0.0          0.0          0.0          0.0
7           0.0         0.0          0.0          0.0          0.0
8           0.0         0.0          0.0          0.0          0.0
9           0.0         0.0          0.0          0.0          0.0
10          0.0         0.0          0.0          0.0          0.0
11          0.0         0.0          0.0          0.0          0.0
12          0.0         0.0          0.0          0.0          0.0
13          0.0         0.0          0.0          0.0          0.0
14          0.0         0.0          0.0          0.0          0.0

    missing_q3_a_f18  missing_q4_a_j18  missing_q4_k_t18  missing_q8_a_f18  \
0                0.0               0.0               0.0               0.0
1                0.0               0.0               0.0               0.0
2                0.0               0.0               0.0               0.0
3                0.0               0.0               0.0               0.0
4                0.0               0.0               0.0               0.0
5                0.0               0.0               0.0               0.0
6                0.0               0.0               0.0               0.0
7                0.0               0.0               0.0               0.0
8                0.0               0.0               0.0               0.0
9                0.0               0.0               0.0               0.0
10               0.0               0.0               0.0               0.0
11               0.0               0.0               0.0               0.0
12               0.0               0.0               0.0               0.0
13               0.0               0.0               0.0               0.0
14               0.0               0.0               0.0               0.0

    missing_q9_a_c18
0                0.0
1                0.0
2                0.0
3                0.0
4                0.0
5                0.0
6                0.0
7                0.0
8                0.0
9                0.0
10               0.0
11               0.0
12               0.0
13               0.0
14               0.0

[15 rows x 150 columns]

In [9]:
data.describe()

,id,statecode,countycode18,fipsplacecode18,metro18,cbsacode18,LPPI18,SPII18,CII18,LPAI18,...,alloc_q8e18,alloc_q8f18,alloc_q9a18,alloc_q9b18,alloc_q9c18,missing_q3_a_f18,missing_q4_a_j18,missing_q4_k_t18,missing_q8_a_f18,missing_q9_a_c18
count,2844.000000,2844.000000,2697.000000,2844.000000,2844.000000,2551.000000,2815.00000,2815.000000,2815.000000,2803.000000,...,2844.000000,2844.000000,2844.000000,2844.000000,2844.000000,2844.000000,2844.000000,2844.000000,2844.000000,2844.000000
mean,326180.004571,29.622715,82.274379,43402.548523,0.896976,29387.843983,8.27389,2.155950,3.213144,2.357474,...,0.008439,0.014065,0.010197,0.007736,0.010197,0.010197,0.014416,0.016174,0.015471,0.021097
std,229583.232814,14.581791,84.929057,24516.027680,0.304047,11144.830659,2.15727,1.069799,1.447508,1.751903,...,0.091491,0.117778,0.100481,0.087627,0.100481,0.100481,0.119220,0.126168,0.123439,0.143733
min,101260.000000,1.000000,1.000000,100.000000,0.000000,10100.000000,3.00000,1.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,177851.250000,17.000000,27.000000,22249.000000,1.000000,19100.000000,7.00000,1.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,196190.500000,29.000000,65.000000,44494.000000,1.000000,30860.000000,8.00000,2.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,582617.250000,42.000000,115.000000,63768.000000,1.000000,38540.000000,10.00000,3.000000,4.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,817433.000000,56.000000,840.000000,99185.000000,1.000000,49780.000000,15.00000,5.000000,10.000000,18.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
data.value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
update_display